body{
  background-color: #222;
}

.react-resizable {
  position: relative;
  display: flex;
}

.react-resizable.vertical-resize{
  flex-direction: column;

}

.react-resizable-handle {
  background-color: #1e222d ,
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  /* position: absolute;
  top: 50%;
  z-index: 20;
  color: white;
  margin-top: -10px;
  cursor: ew-resize; */
  
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  position: absolute;
  cursor: ew-resize;
  height: 100%;
  width: 5px!important;
  z-index: 20;
  background-color: red;
}
/* .react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
} */
.react-resizable-handle-n {
  position: absolute;
  cursor: ns-resize;
  width: 100%;
  height: 5px!important;
  z-index: 20;
  background-color: red;
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}